@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Georgia";
    src: url("../fonts/georgia.woff2") format("woff2");
    font-weight: 100;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Helvetica";
    src: url("../fonts/helvetica.woff2") format("woff2");
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Helvetica Bold";
    src: url("../fonts/helvetica2.woff2") format("woff2");
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
  }
}

@media (min-width: 768px) {
  #hero {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
  }
}

body.noScroll {
  overflow: hidden;
}

.other-links a .hej:hover {
  opacity: 1;
}

.other-links a .hej {
  transition: 200ms ease-in-out;
  opacity: 0.8;
}

header {
  z-index: 49;
  transition: 200ms ease-in-out;
}

.nav_links {
  min-height: 87vh;
}

.selected {
  outline: 5px solid #58c369;
  outline-offset: 0px;
}

article {
  container-type: inline-size;
  container-name: card;
}

.text-and-btns {
  max-height: 0px;
  overflow: hidden;
  transition: 300ms ease;
}

.template_article:hover .text-and-btns {
  max-height: 500px;
}

.hover-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.template_article:hover .hover-message {
  opacity: 1;
}

.offline-template_article:hover .hover-message {
  opacity: 1;
}

.template_frame {
  position: relative;
}

.footer-icons img {
  width: 35px;
  height: 35px;
  filter: invert(100%);
}

.current {
  filter: drop-shadow(0px 10px 0px #ff8000);
}

.fact {
  transition: 750ms cubic-bezier(0.075, 0.82, 0.165, 1);
  offset-anchor: left bottom;
}

.fact:hover {
  cursor: pointer;
  transform: translateY(-5px);
  transition: 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.fact:active {
  transform: translateY(0px);
  scale: 0.95;
  transition: 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

@container card (min-width: 700px) {
  .text-and-btns {
    display: flex;
    flex-direction: row;
  }
  .card-btn {
    justify-content: center;
  }
}

@container card (max-width: 700px) {
  .card-btn {
    justify-content: center;
  }
}

@media only screen and (min-width: 640px) {
  #gallery {
    gap: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  #offline-gallery {
    position: relative;
  }
  #offline-gallery2 {
    gap: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media only screen and (max-width: 640px) {
  .text-and-btns {
    display: none;
  }
}

.cases-gallery {
  gap: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.story_images {
  gap: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.animations_videos {
  gap: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.deliver_videos {
  gap: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.loreal {
  transition: 750ms cubic-bezier(0.075, 0.82, 0.165, 1);
  offset-anchor: left bottom;
}

.loreal:hover {
  cursor: pointer;
  transform: translateY(-25px);
  transition: 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.loreal:active {
  transform: translateY(-15px);
  scale: 0.98;
  transition: 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
