---
---

<button
  id="offline-deselect-all-cards"
  type="button"
  class="appearance-none text-xs w-xl z-50 fixed bottom-[5%] right-[10%] hidden knap py-xs px-sm text-alert100 shadow:md bg-primary100 font-semibold rounded-lg hover:bg-purple-700 -outline-offset-2 outline outline-alert100"
>
  <slot />
</button>

<style>
  .knap {
    transition: 750ms cubic-bezier(0.075, 0.82, 0.165, 1);
    offset-anchor: left bottom;
  }

  .knap:hover {
    cursor: pointer;
    transform: translateY(-10px);
    transition: 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .knap:active {
    transform: translateY(0px);
    scale: 0.95;
    transition: 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }
</style>
