---
---

<button
  id="copyButton"
  class="appearance-none knap my-md z-50 py-xs px-sm bg-tertiary100 active:bg-positive100 text-white font-semibold shadow-md rounded-lg hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-400 focus:ring-opacity-75"
>
  <slot />
</button>

<style>
  .knap {
    transition: 750ms cubic-bezier(0.075, 0.82, 0.165, 1);
    offset-anchor: left bottom;
  }

  .knap:hover {
    cursor: pointer;
    transform: translateY(-5px);
    transition: 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .knap:active {
    transform: translateY(0px);
    scale: 0.95;
    transition: 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }
</style>
