---
import "../styles/styles.css";
---

<footer class="mt-xl bg-sekundary100 text-primary100 sm:pl-md p-xs z-40">
  <div
    class="footer-wrapper py-md sm:pl-lg sm:pr-sm max-w-full flex flex-col gap-sm"
  >
    <div
      class="wavemaker-and-icons flex sm:flex-row flex-col w-full items-center gap-sm justify-between"
    >
      <h4 class="text-sm font-helvetica2">Wavemaker</h4>
      <div class="footer-icons flex gap-xs w-fit">
        <img class="" src="../icons/twitter.svg" alt="twitter icon" />
        <img src="../icons/facebook.svg" alt="facebook icon" />
        <img src="../icons/instagram.svg" alt="instagram icon" />
        <img src="../icons/linkedin.svg" alt="linkedin icon" />
        <img src="../icons/tiktok.svg" alt="tiktok icon" />
      </div>
    </div>
    <div
      class="wavemaker-terms-and-webdesign flex-col sm:flex-row flex items-center justify-between"
    >
      <div class="terms font-helvetica text-2xs">
        © Wavemaker 2023 | Terms | Our Privacy Policy | Modern Slavery Act
        Statement
      </div>
      <div class="design font-helvica text-[12px]">Web design by JFK</div>
    </div>
  </div>
</footer>
